In [11]:
from env import config, BASE_DIR
from sqlalchemy import create_engine, text

In [12]:
DATABASE_URL = config("FLIGHT_PRICES_DATABASE_URL", cast=str, default=None)
DATABASE_URL is not None

True

In [13]:
engine = create_engine(str(DATABASE_URL))

In [14]:
DATASET_DIR = BASE_DIR / "datasets"
DATASET_DIR.exists()

True

In [15]:
SQL_DUMP_CSV = DATASET_DIR / "sql-dump.csv"
SQL_DUMP_CSV.exists()

False

In [16]:
import pandas as pd

In [17]:
df = pd.read_sql("flight_prices", engine, index_col="index")

In [18]:
df.head(n=15)

,flightDate,startingAirport,destinationAirport,isBasicEconomy,isRefundable,isNonStop,segmentsAirlineName,totalFare
index,,,,,,,,
0,2022-04-17,ATL,BOS,0,0,0,American Airlines||American Airlines,273
1,2022-04-17,ATL,BOS,0,0,0,Spirit Airlines||Spirit Airlines,301
2,2022-04-17,ATL,BOS,0,0,0,United||United,352
3,2022-04-17,ATL,BOS,0,0,1,American Airlines,355
4,2022-04-17,ATL,BOS,0,0,1,Delta,307
5,2022-04-17,ATL,BOS,0,0,1,JetBlue Airways,302
6,2022-04-17,ATL,BOS,1,0,0,United||United,307
7,2022-04-17,ATL,CLT,0,0,0,American Airlines||American Airlines,492
8,2022-04-17,ATL,CLT,0,0,0,JetBlue Airways||JetBlue Airways,543
9,2022-04-17,ATL,CLT,0,0,0,United||United,467
10,2022-04-17,ATL,CLT,0,0,1,American Airlines,425
11,2022-04-17,ATL,CLT,0,0,1,Delta,399
12,2022-04-17,ATL,DEN,0,0,0,American Airlines||American Airlines,305
13,2022-04-17,ATL,DEN,0,0,0,Frontier Airlines||Frontier Airlines,554
14,2022-04-17,ATL,DEN,0,0,0,Spirit Airlines||Spirit Airlines,273

In [19]:
df.to_csv(SQL_DUMP_CSV, index=False)